# Ignore node_modules folder
node_modules/

# Ignore environment variable files (your sensitive data)
sensitivedata.env
.env

# Optional: Ignore log files
*.log

# Optional: Ignore build or temporary files
dist/
temp/

